192.168.10.54:80 {
    root * /var/www/public

    # Aktifkan kompresi
    encode zstd gzip

    # Prioritaskan penyajian file statis yang ada (CSS, JS, gambar)
    file_server

    # Arahkan semua request lainnya ke index.php
    # Ini adalah kunci untuk "pretty URLs" di Laravel
    @notfound {
        not file
    }
    rewrite @notfound /index.php?{query}

    # Proses file PHP dengan FPM
    php_fastcgi app:9000
}
